@mixin flexNdirection($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin widthNheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin dropShadow($darkness) {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, $darkness);
}

.tile {
  border-radius: 5px;
  background: $white;
  width: 100%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.10)
}
