$grey: #D4D8DB;
$white: #F5F5F5;
$border-hover: #8ED1DC;
$teal: #1CA3BA;
$purple: #6320EE;
$liner-start: #8ED1DC;
$liner-end: #E3F4F6;
$box-shadow: rgba(0, 0, 0, 0.05);
$main-font: 'Nunito';
$article-font: 'Istok Web';
$fancy-font: 'Fanwood Text';
