/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_variables.scss';
@import '_mix-ins.scss';
@import '_nav.scss';

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.icon {
  @include widthNheight(40px, 40px);
}

html,
#root {
  @include widthNheight(100%, 100%);
}

#root {
  display: flex;
}
